<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Matriculas3.0</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ADDAL</display-name>
    <servlet-name>ADDAL</servlet-name>
    <servlet-class>com.zubiri.servlet.ADDAL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADDAL</servlet-name>
    <url-pattern>/ADDAL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ADDPR</display-name>
    <servlet-name>ADDPR</servlet-name>
    <servlet-class>com.zubiri.servlet.ADDPR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADDPR</servlet-name>
    <url-pattern>/ADDPR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ADDAS</display-name>
    <servlet-name>ADDAS</servlet-name>
    <servlet-class>com.zubiri.servlet.ADDAS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADDAS</servlet-name>
    <url-pattern>/ADDAS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VERAL</display-name>
    <servlet-name>VERAL</servlet-name>
    <servlet-class>com.zubiri.servlet.VERAL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VERAL</servlet-name>
    <url-pattern>/VERAL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VERPR</display-name>
    <servlet-name>VERPR</servlet-name>
    <servlet-class>com.zubiri.servlet.VERPR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VERPR</servlet-name>
    <url-pattern>/VERPR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VERAS</display-name>
    <servlet-name>VERAS</servlet-name>
    <servlet-class>com.zubiri.servlet.VERAS</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VERAS</servlet-name>
    <url-pattern>/VERAS</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarAL</display-name>
    <servlet-name>BorrarAL</servlet-name>
    <servlet-class>com.zubiri.servlet.BorrarAL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarAL</servlet-name>
    <url-pattern>/BorrarAL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarPR</display-name>
    <servlet-name>BorrarPR</servlet-name>
    <servlet-class>com.zubiri.servlet.BorrarPR</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarPR</servlet-name>
    <url-pattern>/BorrarPR</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrarASI</display-name>
    <servlet-name>BorrarASI</servlet-name>
    <servlet-class>com.zubiri.servlet.BorrarASI</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrarASI</servlet-name>
    <url-pattern>/BorrarASI</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModificarA</display-name>
    <servlet-name>ModificarA</servlet-name>
    <servlet-class>com.zubiri.servlet.ModificarA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModificarA</servlet-name>
    <url-pattern>/ModificarA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuscarA</display-name>
    <servlet-name>BuscarA</servlet-name>
    <servlet-class>com.zubiri.servlet.BuscarA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarA</servlet-name>
    <url-pattern>/BuscarA</url-pattern>
  </servlet-mapping>
</web-app>